.partners {
    height: 130vh;
    padding: 70px 0 0;
    margin-bottom: 150px;
}

.partners > h1 {
    font-size: 6.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #FF7500;
}

.partners > .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0 0;    
}

.partners > .logos > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.partners > .logos > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.partners > .logos > div > div > h6 {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.partners > .logos > div > div > img {
    width: auto;
    height: 100px;
    object-fit: cover;
}

/* media query for mobiles */

@media screen and (min-width: 320px) and (max-width: 768px) {
    .partners {
        height: 95vh;
        padding: 100px 20px 0;
        margin-bottom: 0;
    }

    .partners > h1 {
        font-size: 2.2rem;
        letter-spacing: 5px;
        margin-bottom: 0;
    }

    .partners > .logos {
        gap: 10px;
    }

    .partners > .logos > div {
        gap: 0px;
    }

    .partners > .logos > div > div > h6 {
        font-size: 1rem;
        padding: 0 10px;
    }

    .partners > .logos > div > div > img {
        height: 50px;
    }
}


/* media query for tablets */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .partners {
        height: auto;
        padding: 100px 20px 0;
        margin-bottom: 50px;
    }

    .partners > h1 {
        font-size: 4.5rem;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }

    .partners > .logos {
        gap: 20px;
    }

    .partners > .logos > div {
        gap: 30px;
    }
    

    .partners > .logos > div > div > h6 {
        font-size: 1rem;
        padding: 0 10px;
    }

    .partners > .logos > div > div > img {
        height: 100px;
    }
}